{% extends 'encyclopedia/layout.html' %}

{% block title %}
Add Page
{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Wiki - Add Page</h1>
        <p class="lead">Add your own page to our encyclopedia!</p>

        {% if messages %}
        {% for message in messages %}

        <p style="color: red;">
            {{message}}
        </p>

        {% endfor %}
    {% endif %}
    </div>
</div>

<div class="container">
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.text }}
        </div>
        <input class="btn btn-primary" type="submit" value="Post"/>
    </form>
</div>


{% endblock %}